<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS}] - %p | %m%n"/>
        </layout>
    </appender>
    <appender name="default"           class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/query.log"            /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="error"             class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/error.log"            /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="batchDetailMain"   class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/batchDetailMain.log"  /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="batchDetail1"      class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/batchDetail1.log"     /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="batchDetail2"      class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/batchDetail2.log"     /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="batchDetail3"      class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/batchDetail3.log"     /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="batchDetail4"      class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/batchDetail4.log"     /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="batchDetail5"      class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/batchDetail5.log"     /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>

    <appender name="albumUpdateMain"   class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/albumUpdateMain.log"  /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="albumUpdate1"      class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/albumUpdate1.log"     /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="albumUpdate2"      class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/albumUpdate2.log"     /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="albumUpdate3"      class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/albumUpdate3.log"     /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="albumUpdate4"      class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/albumUpdate4.log"     /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="albumUpdate5"      class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/albumUpdate5.log"     /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>


    <appender name="springQuartz"      class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/springQuartz.log"      /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="albumChangeUpdate" class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/albumChangeUpdate.log"  /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>
    <appender name="createAll"         class="org.apache.log4j.DailyRollingFileAppender"><param name="File" value="${catalina.base}/logs/background/createAll.log"  /><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] %p | %m%n" /></layout></appender>


    <logger additivity="false" name="com.lenovo.base.CommonLogs$Default" 	 ><level value="INFO"/><appender-ref ref="default"          /></logger>
    <logger additivity="false" name="com.lenovo.base.WorkerException" 	 ><level value="INFO"/><appender-ref ref="error"    	       /></logger>


    <logger additivity="false" name="com.lenovo.base.CommonLogs$ThreadMain"><level value="INFO"/><appender-ref ref="batchDetailMain"  /></logger>
    <logger additivity="false" name="com.lenovo.base.CommonLogs$Thread1" 	 ><level value="INFO"/><appender-ref ref="batchDetail1"      /></logger>
    <logger additivity="false" name="com.lenovo.base.CommonLogs$Thread2" 	 ><level value="INFO"/><appender-ref ref="batchDetail2"      /></logger>
    <logger additivity="false" name="com.lenovo.base.CommonLogs$Thread3"   ><level value="INFO"/><appender-ref ref="batchDetail3"      /></logger>
    <logger additivity="false" name="com.lenovo.base.CommonLogs$Thread4"   ><level value="INFO"/><appender-ref ref="batchDetail4"      /></logger>
    <logger additivity="false" name="com.lenovo.base.CommonLogs$Thread5"   ><level value="INFO"/><appender-ref ref="batchDetail5"      /></logger>


    <logger additivity="false" name="com.lenovo.epg.create.service.batch.AlbumChangeUpdatePage$ThreadMain"><level value="INFO"/><appender-ref ref="albumUpdateMain"  /></logger>
    <logger additivity="false" name="com.lenovo.epg.create.service.batch.AlbumChangeUpdatePage$Thread1"   ><level value="INFO"/><appender-ref ref="albumUpdate1"      /></logger>
    <logger additivity="false" name="com.lenovo.epg.create.service.batch.AlbumChangeUpdatePage$Thread2"   ><level value="INFO"/><appender-ref ref="albumUpdate2"      /></logger>
    <logger additivity="false" name="com.lenovo.epg.create.service.batch.AlbumChangeUpdatePage$Thread3"   ><level value="INFO"/><appender-ref ref="albumUpdate3"      /></logger>
    <logger additivity="false" name="com.lenovo.epg.create.service.batch.AlbumChangeUpdatePage$Thread4"   ><level value="INFO"/><appender-ref ref="albumUpdate4"      /></logger>
    <logger additivity="false" name="com.lenovo.epg.create.service.batch.AlbumChangeUpdatePage$Thread5"   ><level value="INFO"/><appender-ref ref="albumUpdate5"      /></logger>

    <logger additivity="false" name="com.lenovo.epg.base.SpringQuartz" 	                        ><level value="INFO"/><appender-ref ref="springQuartz"         /></logger>
    <logger additivity="false" name="com.lenovo.epg.create.service.batch.AlbumChangeUpdatePage" 	><level value="INFO"/><appender-ref ref="albumChangeUpdate"    /></logger>
    <logger additivity="false" name="com.lenovo.epg.create.service.batch.CreateAll" 	            ><level value="INFO"/><appender-ref ref="createAll"            /></logger>
    <logger additivity="false" name="com.lenovo.epg.display.controller.GetRedisDataController2" 	><level value="INFO"/><appender-ref ref="default"              /></logger>
    <logger additivity="false" name="com.lenovo.epg.create.controller.RedisController" 	        ><level value="INFO"/><appender-ref ref="albumChangeUpdate"     /></logger>

    <logger name="net.sf.ehcache">
        <level value="ERROR"/>
    </logger>


    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <!-- Suppress invalid warning messages from JSF -->
    <logger name="org.apache.myfaces">
        <level value="ERROR"/>
    </logger>


    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>


    <logger name="com.lenovo.epg">
        <level value="INFO"/>
    </logger>


    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
